@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,600;0,900;1,800;1,900&display=swap");

*,
*::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: white;
  overflow: hidden;
  background-color: black;
}
.bg img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: url("image.png");
  background-size: cover;
  animation: scaling 60s linear infinite;
}
@keyframes scolimg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.bg img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
a {
  text-decoration: none;
  color: wheat;
}
ul {
  list-style-type: none;
  display: flex;
}
