@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,600;0,900;1,800;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: white;
  overflow: hidden;
  background-color: black;
}
.bg-img {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: url("space.png");
  background-size: cover;
  animation: scaling 60s linear infinite;
}
@keyframes scolimg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
a {
  text-decoration: none;
  color: wheat;
}

ul {
  list-style-type: none;
  display: flex;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
}
.Mars {
  position: absolute;
  animation: movement 40% linear infinite;
  background: url("Mars.png");
}

@keyframes movement {
  0% {
    width: 20rem;
    top: 10%;
    right: 30;
    transform: rotate(0deg);
  }
  50% {
    width: 50rem;
    top: 20%;
    right: -10%;
    transform: rotate(120deg);
  }
  100% {
    width: 20rem;
    top: 10%;
    right: 30%;
    transform: scale(360deg);
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
header > a {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
header ul li {
  font-weight: 600;
  padding: 0 20px;
  opacity: 1;
}
header ul li:first-child {
  opacity: 1;
}
h1 {
  font-size: 54px;
}
main {
  padding: top 5%;
}
main > p {
  max-width: 50%;
  opacity: 0.75;
  font-size: 13px;
}
.d-flex {
  display: flex;
  margin-top: 20%;
  margin-bottom: 50px;
}
.d-flex a {
  display: flex;
  margin-right: 50px;
  font-size: 14px;
  align-items: center;
  text-transform: uppercase;
}
.d-flex a span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-right: 5px;
}
